.primary {
    text-align: center;
    margin:auto;
    color: lightgray;
    padding: 0% 10%;
    font-size: larger;
}
body {
    background-color: black;
}
.italic {
    font-style: italic;
}
.frame {
    width: 400px;
    height: 300px;
    border: 3px solid darkred;
    background: red;
    margin: auto;
    padding: 0px 10px;
    align-items: baseline;
}
.logo {
    width: 350px;
    height: 250px;
}
.red {
    color: darkred;
}